.container--0- {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1916px;
    height: 1894.18994140625px;
    background-color: #ffffff;
    justify-content: start;
    align-items: start;
  }
  .container-0-1-0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1916px;
    height: 1894.18994140625px;
    background-color: #131517;
    justify-content: start;
    align-items: start;
  }
  .container-1-2-0 {
    position: absolute;
    left: 16px;
    top: 18.809999465942383px;
    width: 163.47000122070312px;
    height: 26.360000610351562px;
    justify-content: start;
    align-items: start;
  }
  .container-2-3-0 {
    position: absolute;
    left: 0px;
    top: 16px;
    width: 1280px;
    height: 1px;
    opacity: 1;
    background-color: #ffffff1a;
    justify-content: start;
    align-items: start;
  }
  .container-2-3-2 {
    position: absolute;
    left: 318px;
    top: 144px;
    width: 832.4400024414062px;
    height: 27px;
    justify-content: start;
    align-items: start;
  }
  .container-2-3-3 {
    position: absolute;
    left: 318px;
    top: 88px;
    width: 40px;
    height: 32px;
    background-color: #ffffff0a;
    justify-content: start;
    align-items: start;
    border-radius: 11px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
  }
  .container-2-3-4 {
    position: absolute;
    left: 366px;
    top: 80px;
    width: 48px;
    height: 48px;
    background-color: #051f1b;
    justify-content: start;
    align-items: start;
    border-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }
  .container-2-3-5 {
    position: absolute;
    left: 1244px;
    top: 59px;
    width: 20px;
    height: 20px;
    justify-content: start;
    align-items: start;
  }
  .container-1-2-1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1916px;
    height: 1878px;
    justify-content: start;
    align-items: start;
  }
  .text-3-4-0 {
    width: 9.225749969482422px;
    height: 16px;
    color: #ffffff;
    font-size: 13.300000190734863px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: center;
    vertical-align: center;
  }
  .text-3-4-1 {
    width: 68.5050048828125px;
    height: 16px;
    color: #ffffff;
    font-size: 13.600000381469727px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .text-3-4-2 {
    width: 47.674781799316406px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-3-4-4 {
    width: 5.699749946594238px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Bold";
    font-weight: 700;
    text-align: left;
    vertical-align: top;
  }
  .text-3-4-5 {
    width: 76.91587829589844px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-3-4-6 {
    width: 86.55315399169922px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-3-4-7 {
    width: 5.699749946594238px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Bold";
    font-weight: 700;
    text-align: left;
    vertical-align: top;
  }
  .text-3-4-8 {
    width: 58.799434661865234px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-3-4-9 {
    width: 57.32484436035156px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-3-4-10 {
    width: 5.699749946594238px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Bold";
    font-weight: 700;
    text-align: left;
    vertical-align: top;
  }
  .text-3-4-11 {
    width: 33.44043731689453px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-3-4-12 {
    width: 53.954345703125px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-3-4-13 {
    width: 5.699749946594238px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Bold";
    font-weight: 700;
    text-align: left;
    vertical-align: top;
  }
  .text-3-4-14 {
    width: 72.91609191894531px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-3-4-15 {
    width: 5.699749946594238px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Bold";
    font-weight: 700;
    text-align: left;
    vertical-align: top;
  }
  .text-3-4-16 {
    width: 84.69009399414062px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .container-3-4-0 {
    position: absolute;
    left: 8px;
    top: 4px;
    width: 23px;
    height: 18px;
    justify-content: start;
    align-items: start;
  }
  .text-2-3-5 {
    width: 349.8121643066406px;
    height: 29px;
    color: #ffffff;
    font-size: 24px;
    font-family: Inter, "Semi Bold";
    font-weight: 600;
    text-align: left;
    vertical-align: center;
  }
  .container-2-3-6 {
    position: absolute;
    left: 1511.60986328125px;
    top: 96px;
    width: 86.38999938964844px;
    height: 16px;
    opacity: 1;
    justify-content: start;
    align-items: start;
  }
  .text-2-3-7 {
    width: 108.09834289550781px;
    height: 24px;
    color: #ffffff;
    font-size: 20px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .text-2-3-8 {
    width: 239.6877899169922px;
    height: 17px;
    color: #ffffff;
    font-size: 14.399999618530273px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: right;
    vertical-align: top;
  }
  .text-2-3-9 {
    width: 24.987751007080078px;
    height: 24px;
    color: #47c97e;
    font-size: 20px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-2-3-10 {
    width: 112.42351531982422px;
    height: 20px;
    color: #00ff82;
    font-size: 16px;
    font-family: Inter, "Medium";
    font-weight: 500;
    text-align: left;
    vertical-align: top;
  }
  .text-2-3-11 {
    width: 24.69300079345703px;
    height: 24px;
    color: #ffffff;
    font-size: 20px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .text-2-3-12 {
    width: 87.02388763427734px;
    height: 20px;
    color: #00ff82;
    font-size: 16px;
    font-family: Inter, "Medium";
    font-weight: 500;
    text-align: left;
    vertical-align: top;
  }
  .text-2-3-13 {
    width: 18.64437484741211px;
    height: 24px;
    color: #ffffff;
    font-size: 20px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .text-2-3-14 {
    width: 83.34815979003906px;
    height: 20px;
    color: #00ff82;
    font-size: 16px;
    font-family: Inter, "Medium";
    font-weight: 500;
    text-align: left;
    vertical-align: top;
  }
  .container-2-3-19 {
    position: absolute;
    left: 318px;
    top: 299px;
    width: 148.61000061035156px;
    height: 17px;
    justify-content: start;
    align-items: start;
  }
  .container-2-3-20 {
    position: absolute;
    left: 474.60986328125px;
    top: 299px;
    width: 154.6699981689453px;
    height: 17px;
    justify-content: start;
    align-items: start;
  }
  .container-2-3-21 {
    position: absolute;
    left: 637.280029296875px;
    top: 299px;
    width: 109.13999938964844px;
    height: 17px;
    justify-content: start;
    align-items: start;
  }
  .container-2-3-22 {
    position: absolute;
    left: 754.419921875px;
    top: 299px;
    width: 120.58000183105469px;
    height: 17px;
    justify-content: start;
    align-items: start;
  }
  .container-2-3-23 {
    position: absolute;
    left: 316px;
    top: 330px;
    width: 314px;
    height: 49px;
    background-color: #ffffff0a;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff05;
    justify-content: start;
    align-items: start;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .container-3-4-1 {
    position: absolute;
    left: 156px;
    top: 1px;
    width: 36px;
    height: 36px;
    justify-content: start;
    align-items: start;
  }
  .container-2-3-24 {
    position: absolute;
    left: 638px;
    top: 330px;
    width: 314px;
    height: 49px;
    background-color: #ffffff0a;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff05;
    justify-content: start;
    align-items: start;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .container-2-3-25 {
    position: absolute;
    left: 960px;
    top: 330px;
    width: 314px;
    height: 49px;
    background-color: #ffffff0a;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff05;
    justify-content: start;
    align-items: start;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .container-2-3-26 {
    position: absolute;
    left: 1282px;
    top: 330px;
    width: 314px;
    height: 49px;
    background-color: #ffffff0a;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff05;
    justify-content: start;
    align-items: start;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .text-2-3-27 {
    width: 95.7077865600586px;
    height: 21px;
    color: #ffffff;
    font-size: 17.600000381469727px;
    font-family: Inter, "Semi Bold";
    font-weight: 600;
    text-align: left;
    vertical-align: top;
  }
  .container-2-3-28 {
    position: absolute;
    left: 317px;
    top: 433px;
    width: 1280px;
    height: 35px;
    background-color: #ffffff0a;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff1a;
    justify-content: start;
    align-items: start;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .text-4-5-0 {
    width: 17.055749893188477px;
    height: 16px;
    color: #ffffff;
    font-size: 13.300000190734863px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-2-3-29 {
    width: 161.5698699951172px;
    height: 21px;
    color: #ffffff;
    font-size: 17.600000381469727px;
    font-family: Inter, "Semi Bold";
    font-weight: 600;
    text-align: left;
    vertical-align: top;
  }
  .container-2-3-30 {
    position: absolute;
    left: 932.85986328125px;
    top: 485px;
    width: 125.13999938964844px;
    height: 40px;
    background-color: #ffffff0a;
    justify-content: start;
    align-items: start;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .container-2-3-31 {
    position: absolute;
    left: 1062px;
    top: 486px;
    width: 1px;
    height: 1px;
    justify-content: start;
    align-items: start;
  }
  .container-2-3-32 {
    position: absolute;
    left: 1062px;
    top: 486px;
    width: 1px;
    height: 1px;
    justify-content: start;
    align-items: start;
  }
  .container-2-3-33 {
    position: absolute;
    left: 1062px;
    top: 486px;
    width: 160px;
    height: 38px;
    background-color: #ffffff0a;
    justify-content: start;
    align-items: start;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .container-4-5-0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1246px;
    height: 34px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff0a;
    justify-content: start;
    align-items: start;
  }
  .container-3-4-2 {
    position: absolute;
    left: 0px;
    top: 4.5px;
    width: 155px;
    height: 29px;
    justify-content: start;
    align-items: start;
  }
  .container-4-5-1 {
    position: absolute;
    left: 0px;
    top: 34px;
    width: 1246px;
    height: 34px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff0a;
    justify-content: start;
    align-items: start;
  }
  .container-2-3-34 {
    position: absolute;
    left: 1226px;
    top: 486px;
    width: 176px;
    height: 38px;
    background-color: #ffffff0a;
    justify-content: start;
    align-items: start;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .container-2-3-35 {
    position: absolute;
    left: 1406px;
    top: 486px;
    width: 192px;
    height: 38px;
    background-color: #ffffff0a;
    justify-content: start;
    align-items: start;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .container-2-3-36 {
    position: absolute;
    left: 317px;
    top: 540px;
    width: 1280px;
    height: 1189px;
    background-color: #ffffff0a;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff0a;
    justify-content: start;
    align-items: start;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .text-5-6-0 {
    width: 87.24423217773438px;
    height: 17px;
    color: #ffffff;
    font-size: 14.399999618530273px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-5-6-1 {
    width: 127.27668762207031px;
    height: 15px;
    color: #ffffff66;
    font-size: 12.800000190734863px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-5-6-2 {
    width: 72.00045013427734px;
    height: 15px;
    color: #ffffff66;
    font-size: 12px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .container-5-6-3 {
    position: absolute;
    left: 1150px;
    top: 8px;
    width: 16px;
    height: 16px;
    justify-content: start;
    align-items: start;
  }
  .container-5-6-4 {
    position: absolute;
    left: 1174px;
    top: 8px;
    width: 16px;
    height: 16px;
    justify-content: start;
    align-items: start;
  }
  .container-5-6-5 {
    position: absolute;
    left: 1198px;
    top: 8px;
    width: 16px;
    height: 16px;
    justify-content: start;
    align-items: start;
  }
  .container-5-6-6 {
    position: absolute;
    left: 1222px;
    top: 8px;
    width: 16px;
    height: 16px;
    justify-content: start;
    align-items: start;
  }
  .container-4-5-2 {
    position: absolute;
    left: 0px;
    top: 68px;
    width: 1246px;
    height: 34px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff0a;
    justify-content: start;
    align-items: start;
  }
  .container-4-5-3 {
    position: absolute;
    left: 0px;
    top: 102px;
    width: 1246px;
    height: 34px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff0a;
    justify-content: start;
    align-items: start;
  }
  .container-4-5-4 {
    position: absolute;
    left: 0px;
    top: 136px;
    width: 1246px;
    height: 34px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff0a;
    justify-content: start;
    align-items: start;
  }
  .container-4-5-5 {
    position: absolute;
    left: 0px;
    top: 170px;
    width: 1246px;
    height: 34px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff0a;
    justify-content: start;
    align-items: start;
  }
  .container-4-5-6 {
    position: absolute;
    left: 0px;
    top: 204px;
    width: 1246px;
    height: 34px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff0a;
    justify-content: start;
    align-items: start;
  }
  .container-4-5-7 {
    position: absolute;
    left: 0px;
    top: 238px;
    width: 1246px;
    height: 34px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff0a;
    justify-content: start;
    align-items: start;
  }
  .container-4-5-8 {
    position: absolute;
    left: 0px;
    top: 272px;
    width: 1246px;
    height: 34px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff0a;
    justify-content: start;
    align-items: start;
  }
  .text-2-3-37 {
    width: 77.97978210449219px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-2-3-38 {
    width: 69.84709167480469px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .container-2-3-39 {
    position: absolute;
    left: 948.52001953125px;
    top: 1746.5899658203125px;
    width: 51px;
    height: 26px;
    opacity: 1;
    background-color: #ffffff0a;
    justify-content: start;
    align-items: start;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .text-2-3-40 {
    width: 37.84375px;
    height: 17px;
    color: #ffffff66;
    font-size: 14.399999618530273px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .container-2-3-41 {
    position: absolute;
    left: 1523.58984375px;
    top: 1746px;
    width: 31.200000762939453px;
    height: 27.190000534057617px;
    opacity: 1;
    background-color: #ffffff0a;
    justify-content: start;
    align-items: start;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .container-2-3-42 {
    position: absolute;
    left: 1562.800048828125px;
    top: 1746px;
    width: 31.200000762939453px;
    height: 27.190000534057617px;
    background-color: #ffffff0a;
    justify-content: start;
    align-items: start;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .container-0-1-1 {
    position: absolute;
    left: 302px;
    top: 16px;
    width: 1312px;
    height: 64px;
    justify-content: start;
    align-items: start;
  }
  .text-2-3-1 {
    width: 91.66999816894531px;
    height: 18px;
    color: #ffffff;
    font-size: 14.875px;
    font-family: Inter, "Light";
    font-weight: 300;
    text-align: left;
    vertical-align: top;
  }
  .text-1-2-1 {
    width: 143.59449768066406px;
    height: 16px;
    color: #999999;
    font-size: 13px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .container-1-2-2 {
    position: absolute;
    left: 1266px;
    top: 18px;
    width: 28px;
    height: 28px;
    background-color: #282828;
    justify-content: start;
    align-items: start;
    border-radius: 14px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  }
